<%= form_for @wiki do |f| %>
  <% if wiki.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(wiki.errors.count, "error") %>.</h4>
      <ul>
        <% wiki.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_group_tag(wiki.errors[:title]) do %>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
  <% end %>
  <%= form_group_tag(wiki.errors[:body]) do %>
    <%= f.label :body %>
    <%= f.text_area :body, rows: 8, class: 'form-control markdown-preview', id: 'wiki-input', placeholder: "Enter wiki text" %>
  <% end %>
  <% if is_admin? || is_premium? %>
    <div class="form-group">
      <%= f.label :private, class: 'checkbox bp-bump-right-20px' do %>
        <%= f.check_box :private %> Private wiki
      <% end %>
    </div>
  <% else %>
    <div>
      <small><strong>Upgrade your account</strong> to make any of your wikis private!</small>
    </div>
  <% end %>
  <%= f.submit "Save", class: 'btn btn-success' %>
  <br/>
  <br/>
  <div id="bp-markdown">
    <p id="bp-header">Preview
      <%= f.button "Refresh", name: "refresh", value: "refresh", class: 'btn btn-default' %>
    </p>
    <div id="pb-preview">
      <%= @latest_markdown %>
    </div>
  </div>

<% end %>
