<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <% if wiki.title.empty? %>
        <%= link_to "<No Title>", wiki %>
      <% else %>
        <%= link_to wiki.title, wiki %>
      <% end %>
      <br/>
    </h4>
    <div class="bp-gray-bg">
      <small>
        submitted <%= time_ago_in_words(wiki.created_at) %> ago by <%= wiki.user.name %>
        <br/>
        <em>This wiki is <strong><%= wiki.private ? "private" : "public" %></strong></em>
        <br/>
      </small>
    </div>
    <%= wiki.body %>
  </div>
</div>
